<%= error_messages_for 'formula' %>

<!--[form:formula]-->
<p><label for="formula_name">Name</label><br/>
<%= text_field 'formula', 'name'  %></p>

<p><label for="formula_name">Ingredient Name</label><br/>
<%= text_field 'formula', 'name'  %> <input type="button" name="some_name" value="Add Ingredient" id="some_name" /></p>

<!--[eoform:formula]-->

