<% for column in Formula.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @formula.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @formula %> |
<%= link_to 'Back', :action => 'list' %>
